<% provide(:title, "About")%>
<div class="custom-block">
  <h1>
    About
  </h1>
  <p>
    The <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em>
    </a>.
      This is pretty cool isn't it? :)
  </p>
</div>