<% provide(:title, "Help")%>
<div class="custom-block">
  <h1>
    Help
  </h1>
  <p>
    Get some fine help calling Superman <a href="www.google.com"><em>Google my friend</em> the fine fellow :)
    </a>
  </p>
</div>