<div class="center jumbotron">
  <h1>
    Welcome to the Sample App
  </h1>

  <h2>
    This is the home page for the
    <%= link_to "Ruby on Rails Tutorial",   "http://www.railstutorial.org/" %>
  </h2>
</div>

<div class="row">
    <div class="center col-lg-4">
      <div>
        <%= link_to image_tag("rails.png", alt: "Rails logo", width: 100),
                  "http://rubyonrails.org/" %>
        <%= link_to image_tag("boostrap.png", alt: "Bootstrap logo", width: 100),
              "http://getbootstrap.com/" %>
      </div>
  </div>
  <div class="center col-lg-4">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>